[submodule "third_party/Hierarchical-Localization"]
	path = third_party/Hierarchical-Localization
	url = git@github.com:byran-wang/Hierarchical-Localization.git
[submodule "third_party/utils_simba"]
	path = third_party/utils_simba
	url = git@github.com:byran-wang/utils_simba.git
[submodule "third_party/instant-nsr-pl"]
	path = third_party/instant-nsr-pl
	url = git@github.com:byran-wang/instant-nsr-pl.git
[submodule "third_party/KinectFusion"]
	path = third_party/KinectFusion
	url = git@github.com:byran-wang/KinectFusion.git
[submodule "third_party/FoundationPose"]
	path = third_party/FoundationPose
	url = git@github.com:byran-wang/FoundationPose.git
[submodule "third_party/zed-sdk"]
	path = third_party/zed-sdk
	url = git@github.com:byran-wang/zed-sdk.git
[submodule "third_party/FoundationStereo"]
	path = third_party/FoundationStereo
	url = git@github.com:byran-wang/FoundationStereo.git
[submodule "third_party/sam3"]
	path = third_party/sam3
	url = git@github.com:byran-wang/sam3.git
[submodule "third_party/hamer"]
	path = third_party/hamer
	url = git@github.com:byran-wang/hamer.git
[submodule "third_party/bundlesdf"]
	path = third_party/bundlesdf
	url = git@github.com:byran-wang/bundlesdf.git
[submodule "third_party/hold"]
	path = third_party/hold
	url = git@github.com:byran-wang/hold.git
