[submodule "third_party/Hierarchical-Localization"]
	path = third_party/Hierarchical-Localization
	url = git@github.com:byran-wang/Hierarchical-Localization.git
[submodule "third_party/utils_simba"]
	path = third_party/utils_simba
	url = git@github.com:byran-wang/utils_simba.git
[submodule "third_party/instant-nsr-pl"]
	path = third_party/instant-nsr-pl
	url = git@github.com:byran-wang/instant-nsr-pl.git
[submodule "third_party/KinectFusion"]
	path = third_party/KinectFusion
	url = git@github.com:byran-wang/KinectFusion.git
[submodule "third_party/mast3r"]
	path = third_party/mast3r
	url = https://github.com/naver/mast3r
[submodule "third_party/FoundationPose"]
	path = third_party/FoundationPose
	url = git@github.com:byran-wang/FoundationPose.git
